#writer {
    width: 100%;
    max-width: 900px;
    margin: 45px auto;
    display: flex;
    justify-content: space-around;
}

#writer .writer__column {
    width: 80%;
}

.writer__column .writer__phone {
    max-width: 100%;
}

.writer__column .writer__box {
    background-color: white;
    border: 1px solid #e6e6e6;
}

#writer .writer__box {
    padding: 30px 0;
    text-align: center;
    /* font-size: 1rem; */
}

#writer .writer__box:first-child {
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.writer__column .writer__logo {
    height: 50px;
}

.writer__form .react-tag-input {
    background: white;
    color: #333;
    border: 1px solid #e1e1e1;
    font-size: 0.9rem;
}
.writer__form .react-tag-input__input {
    background: transparent;
    color: #333;
    font-size: 12px;
}
.writer__form .react-tag-input__input::placeholder, .react-tag-input__input:-moz-placeholder, .react-tag-input__input:-ms-input-placeholder, .react-tag-input__input::-moz-placeholder, .react-tag-input__input::-webkit-input-placeholder {
    color: #333; /* Input placeholder */
}
.writer__form .react-tag-input__tag {
    background: #e1e1e1;
}
.writer__form .react-tag-input__tag__remove {
    background: #d4d4d4;
}
.writer__form .react-tag-input__tag__remove:before, .react-tag-input__tag__remove:after {
    background: #333; /* X icon in remove button */
}



.writer__form .input_box1 {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    font-size: 14px;
    border: 0;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background: #fafafa;
}

.writer__form .input_box2 {
    position: absolute;
    width: 255px;
    height: 35px;
    left: 355px;
    top: 139px;
    background: #FAFAFA;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 3px;
}

.writer__form .form__filebox {
    display: inline-block;
    width: 90%;
    max-width: 90%;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: .25em;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    background-color: #fff;
    border: 0;
    padding: 5px;
    margin-top: 15px;
    color: blue;
    font-weight: 600;
}

.writer__form .image_preview {
    max-width: 90%;

}

.writer__form .form__filebox input[type="file"] {
    text-align: left;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.writer__form .writer__textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px #1E90FF;
    border-radius: 5px;
    font-size: 0.8rem;
    resize: both;
}

.writer__form input:focus {
    outline: none;
    border: 1px solid #a9a9a9;
}

.writer__form input:first-child {
    margin-bottom: 5px;
}

.writer__form input[type="submit"] {
    background-color: #3f99ed;
    border: 0;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: white;
    font-weight: 600;
}

.writer__box a {
    text-decoration: none;
    color: var(--fd-blue);
}

